  
* {
    font-family: 'Lobster', cursive;
}  
body{
  background-color:#a4ebf3;
}

header{
  text-align: center;
  background-color:#dbf6e9 ;
  color: #e2bcb7;
}

header h1{
  font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-weight: 700;
    color: #810000;
}
main{
  text-align: center;
}
main h3{
    color: #0a043c;
}
#parent{
    font-size: 30px;
    color: #e9896a;
    text-align: center;
    display: inline-block;
}
div .image{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 70px;
    height: 450px;
    width: 45%;
}
main a{
    color: rgb(82, 56, 69);
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    color: rgb(151, 60, 102);
  }
footer{
  height: 90px;
  color: #810000;
  background-color: #dbf6e9;
}
footer p{
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
  font-weight: 700;
}